@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	display: grid;
	margin: 0;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

#user-profile {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
}

#user-profile > img {
	margin-right: 20px;
}

#user-profile > #profile-icon {
	width: 40px;
	height: 40px;
}

#user-profile > #notification-bell {
	width: 20px;
	height: 20px;
}

#user-info {
	display: grid;
	grid-template-columns: 1fr 11fr;
	grid-auto-flow: column;
	align-content: center;
	margin: 0 40px;
}

#hi-there {
	font-size: 12px;
	margin-bottom: 3px;
}

#user-header-bottom > #user-info > #profile-picture {
	width: 50px;
	height: 50px;
}

#sidebar {
	display: grid;
	grid-template-rows: 60px 1fr 1fr;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: #1992d4;
}

#sidebar img {
	width: 20px;
	height: 20px;
}

#sidebar-logo {
	align-self: center;
}

#header {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-column-start: 2;
	grid-column-end: 5;
	font-weight: bold;
}

#user-header-top {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#search-bar-container {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
}

#search-bar-container > img {
	width: 20px;
	height: 20px;
}

#search-bar {
	margin-left: 10px;
	width: 650px;
	border-style: none;
	background-color: #f0f0f0;
	border-radius: 20px;
	padding: 5px;
}

#user-header-bottom {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#main-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-row: span 3;
	grid-column: span 3;
	background-color: #e2e8f0;
}

#your-projects {
	display: grid;
	grid-template-rows: 30px 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-row: span 3;
	padding: 20px 0 20px 20px;
}

#project-title {
	grid-column: span 2;
}

#announcements {
	display: grid;
	grid-template-rows: 30px auto;
	padding: 20px 20px 20px 0;
}

#announcements-content {
	display: grid;
	background-color: #ffff;
	border-radius: 10px;
}

#trending {
	display: grid;
	grid-template-rows: 30px auto;
	padding: 0 20px 20px 0;
}

#trending-content {
	display: grid;
	background-color: #ffff;
	border-radius: 10px;
}

.card {
	display: grid;
	background-color: #ffff;
	border-radius: 10px;
	margin: 0 20px 20px 0;
}

#buttons {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;
	gap: 20px;
}

button {
	padding: 10px;
	width: 100px;
	border-radius: 20px;
	border: none;
	background-color: #1992d4;
	color: #ffff;
	font-weight: bold;
}
